{{ define "head_extension" }}
  {{ $sass := resources.Get "scss/home.scss" }}
  {{ $style := $sass | resources.ToCSS }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" />
{{ end }}

{{ define "main" }}
  <section id="top">
    <div class="container text-center">
      <span class="kde-logo-big">K</span>
      <h1>KDE Developer Platform</h1>
      <p>Design, build and distribute beautiful, usable applications with KDE technologies.</p>
    </div>
  </section>

  {{ partial "develop_menu.html" . }}

  <section id="platform-hero">
    <div class="container text-center">
      <h2>Multi-Platform</h2>
      <p>Develop once, deploy everywhere. Built on top of Qt, KDE's technologies work on every platform.</p>
      <p>Desktop Linux, Android, Windows, macOS, embedded, and more</p>
     </div>
     <div class="d-flex" id="platform-illustration">
       <img src="plasma-devices.svg" alt="Plasma running on a phone, laptop and TV" class="img-fluid col-12 col-lg-10 mx-md-auto" />
     </div>
  </section>

  <section id="develop-hero" class="p-4" style="height: auto;">
    <div class="container text-center p-5" style="background-color: #333">
      <h1 class="h2 mt-0" style="color: #EEE;">KDE Frameworks: Enhance the Qt Experience</h1>
      <p class="my-0 mx-auto p-2" style="color: #CCC; max-width: 500px;">KDE Frameworks cover 80 add-on libraries for programming with Qt. All libraries have been well-tested in real world scenarios and are comprehensively documented. KDE's libraries are distributed under LGPL or MIT licenses.</p>
      <a class="learn-more" href="/products/frameworks/">Learn more</a>
    </div>
  </section>

  <section class="d-flex pt-0 py-sm-5">
    <img src="/frameworks/kirigami/kirigami-devices.png" class="img-fluid kirigami-devices d-none d-sm-block"/>
    <div class="align-self-center container">
      <section class="d-sm-none kirigami-header"><h1><p class="header-logo">K</p>Kirigami UI Framework</h1></section>
      <h2 class="h1 mt-5 mt-sm-0">Kirigami</h2>
      <h3>Build Beautiful, Convergent Apps that Run on Phones, TVs and Everything in Between.</h3>
      <p>
        The line between desktop and mobile is blurring and users expect the same quality
        experience on every device. Applications using Kirigami adapt brilliantly to mobile,
        desktop, TVs, infortainment systems and everything in between.
      </p>
      <p>
         Kirigami's components are goodlooking and consistent, and Kirigami itself provides a clearly
         defined workflow. Users of Kirigami apps will appreciate the smart choices made in the API and
         uncluttered design.
      </p>
      <p class="mb-0"><a href="/frameworks/kirigami/" class="learn-more">Discover Kirigami</a></p>
    </div>
  </section>

  <section class="section-blue">
    <div class="container d-flex flex-column">
      <div class="align-self-center">
        <h2 class="h1 mt-0">KDevelop</h2>
        <h3>A cross-platform IDE for C, C++, Python, QML/JavaScript and PHP</h3>
        <p>Open Source, powerful and fast, KDevelop  offers a seamless development environment to programmers that work on projects of any size. KDevelop helps you get the job done while staying out of your way.</p>
        <p><a href="https://kdevelop.org" class="learn-more">Get KDevelop</a></p> 
      </div>
      <img class="img-fluid mt-3 mt-md-5 shadow" src="https://www.kdevelop.org/sites/www.kdevelop.org/files/inline-images/kdevelop5-breeze_2.png" />
    </div>
  </section>

  <section>
    <div class="container text-center">
      <h2 class="mt-0">Documentation</h2>
      <p>From beginners to experienced Qt developers, here is all you will need to know to start developing KDE applications.</p>
      <br/>
      <div class="tools">
        <a class="tool" href="/docs/getting-started">
          <div>
            <h3>Getting Started</h3>
            <p>Learn the basics and create your first KDE application</p>
          </div>
          <div>
            <img class="img-fluid" src="https://kde.org/stuff/clipart/logo/kde-logo-white-blue-rounded-source.svg" />
          </div>
        </a>
        <a class="tool" href="/docs/kirigami">
          <div>
            <h3>Kirigami</h3>
            <p>Build beautiful, convergent apps that run on phones, TVs and everything in between.</p>
          </div>
          <div>
            <img class="img-fluid" src="/kirigami/kirigami-icon.png" />
          </div>
        </a>
        <!-- Add more link in the future (Plasma, PIM) -->
      </div>
    </div>
  </section>

  {{ with .Content }}
    {{ . }}
  {{ end }}
{{ end }}
